@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* css custom properties */
:root {   
 --my-brand-color: #198754;   
 --my-special-btn-color: #333;
 --my-special-search-btn-background-color:ivory;   
    --my-accent-color-light: palegreen;
    --my-accent-color-dark: royalblue;
 /*--bs-dark-rgb: 25,135,84 !important; */

}
header {
height: 56px;  
}
nav[data-bs-theme="dark"]{
  background:var(--my-brand-color); 
}
.btn-outline-success {
    color:var(--my-special-btn-color);
    background: var(--my-special-search-btn-background-color);
    border-color: var(--my-special-btn-color);
}
.btn-outline-success:hover{
   background:var(--my-special-btn-color);
 color: var(--my-special-search-btn-background-color);
    color:var();
}



.btn-primary {
    background:var(--my-brand-color);
    border:var(--my-brand-color);
    color:ivory;
}
.btn-primary:hover, .btn-primary:first-child:active{
    background:var(--my-accent-color-light);
    color:var(--my-special-btn-color);
}

.btn-primary:focus {
     background:var(--bs-teal);
    border:var(--my-brand-color);
    box-shadow: 0 0 0 .25rem rgba(25,135,84,.5);
        color:var(--my-special-btn-color);
}


a.active {
  border-bottom: 1px solid var(--my-brand-color) ;
}

.my-special-hero {    
    background-image: url(https://picsum.photos/seed/picsum/1200/800);
    background-position: center;
    background-size: cover;
}
.my-special-hero--teaser {
  background: rgb(255,255,255,.5);    
}
footer i {
	color:var(--my-brand-color);
} 